+section("Frame Damage")
  each option in frameDamage
    .columns.is-vcentered
      .column.is-narrow
        input(type="checkbox" name=`damage_${option.label.toLowerCase()}_flag`)
      .column
        p
          strong= option.label
          span= ": "+option.desc

  .columns.is-vcentered
    .column.is-narrow
      +rollbutton("framedamage", {"roll": `[[1d6]]`})
    .column Roll Randomly

  .columns.is-vcentered
    .column
      +numberfield_v(`attr_shields`, "Shields")
        +rollbutton("shields", {"roll": `[[1d6]]`, 'shields': '[[@{shields}]]'})
    .column
      +numberfield_v(`attr_armor`, "Armor")