+section("Apocalypse Frame")(class="main-header-font")
  .columns
    //- Left side
    .column
      +textfield("attr_character_name", "Callsign")
      +textfield("attr_frame_model", "Frame Model")
      +textfield("attr_frame_name", "Frame Name")
      +textarea("attr_frame_description", "Description")
    .column
      +textfield("attr_real_name", "Name")
      +textfield("attr_pronouns", "Pronouns")
      +textarea("attr_char_description", "Description")
      +textarea("attr_background", "Background")