datalist#frame_models
  each entry in frames
    option= entry.frame_model

datalist#system_names
  each entry in systems
   option= entry.slot_name


datalist#armament_names
  each entry in armaments
   option= entry.slot_name

datalist#tags
  each help, tag in equipmentTags
    option= tag

datalist#ranges
  option Close
  option Near
  option Far