//- Usage: &{template:af} {{name=Attribute/Armament}} {{roll=[[3d6kh1]]}} {{tags=Tags}} {{foo=Bar}} ...

rolltemplate.sheet-rolltemplate-af
  .sheet-rolltemplate-header
    h3= "{{name}}"
  .sheet-rolltemplate-body
    p
      strong Roll
      span= ": {{roll}}"
    != "{{#rollBetween() roll 1 2}}"
    p Failure with a consequence (No, and...)
    != "{{/rollBetween() roll 1 2}}"
    != "{{#rollBetween() roll 3 4}}"
    p Success with a consequence (Yes, but...)
    != "{{/rollBetween() roll 3 4}}"
    != "{{#rollBetween() roll 5 6}}"
    p Success (Yes)
    != "{{/rollBetween() roll 5 6}}"
    != "{{#allprops() name roll}}"
    p
      strong= "{{key}}"
      span= ": {{value}}"
    != "{{/allprops() name roll}}"