include sections/profile
.columns
  .column.is-one-half
    include sections/attributes
  .column.is-one-half
    +section("Build")
      +textarea("attr_build")
    +section("Signature Feature")
      +textarea("attr_signature_feature")
.columns
  .column.is-one-half
    include sections/systems
  .column.is-one-half
    include sections/armaments
.columns
  .column.is-one-third
    +track("attr_vigor", "Vigor", "attr_drive")
  .column.is-one-third
    +track("attr_tension", "Tension", "attr_speed")
  .column.is-one-third
    +track("attr_fuel", "Fuel", "attr_control")
    