// Everything lives under a top level #af-sheet element to improve specificity

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Audiowide&display=swap')

$family-sans-serif: "Abel", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

#af-sheet
  @import "../node_modules/bulma/bulma.sass"

  // Include local features
  @import "./features/emoji"
  @import "./features/roll20-reset"
  @import "./features/tabs"
  @import "./features/tooltip"

  @import "./taglist"

  // Remove spinners from text fields
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  input[type="number"]
    width: 4rem
    text-align: center
    -moz-appearance: textfield

  // Assuming this is a pro font or something
  // .main-header-font
  //   font-family: "Unknown"

  .section-title
    border: solid black
    padding: 1rem

  h1, h2, h3, h4, h5, h6
    font-family: "Audiowide", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

// @import "./rolltemplates"
