include features/emoji
include features/tabs

include standard-elements
include taglist

#roll20reset
  #af-sheet
    .container
      +tabs("tabs", ["Character", "Reference"])
        .sheet-tab1
          include sheet-tab1
        .sheet-tab2
          include sheet-tab2
      p.has-text-centered
        i This is a play aid by Astral Frontier designed for use with APOCALYPSE FRAME by Binary Star Games, licensed under Framed by the Apocalypse. It is in no way affiliated with Binary Star Games.
      p.has-text-centered
        i The FBTA terms can be found at https://binary-star-games.itch.io/fbta

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  //- This is the fuckiest of hacks, jesus
  | const variables =
  include variables.json
  include:typescript features/tabs.ts
  include:typescript autofill.ts
  include:typescript tags.ts
  include:typescript trackers.ts

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del