include features/emoji
include features/tabs

include standard-elements
include taglist

#roll20reset
  #af-sheet
    .container
      +tabs("tabs", ["Character", "Reference"])
        .sheet-tab1
          include sheet-tab1
        .sheet-tab2
          include sheet-tab2

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  include:typescript sheetworkers.ts
  include:typescript features/tabs.ts

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del