//- Update equipmentTags in variables.json to add new tags
//- They will automatically show up in the list

mixin taglist(attr)
  .content
    ul
      input.taglist-trigger(type="hidden" name=attr+"_max")
      each text, tag in equipmentTags
        li(class=`tag-help-${tag}`)
          strong= tag
          span= `: ${text}`